.App {
  text-align: center;
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.Information {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.submitBtn {
  width: 10rem;
  border: 0.1rem solid;
  border-radius: 4px;
  text-align: center;
  align-self: center;
  padding: 0.7rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: rgb(247, 247, 247);
  transition: 0.1s all ease-in-out;
}

.submitBtn:hover {
  background-color: aliceblue;
  cursor: pointer;




}
input {
  padding: 0.2 rem;
  width: 15rem;
  margin-bottom: 1rem;
  margin-top: 0.2rem;
  height: 2rem;
}

label {
  font-size: 1.2rem;
}